<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="../Static/Css/about.css" />
    <link
      rel="stylesheet"
      href="../Static/Css/class/class for about.hbs .css"
    />
  </head>
  <body>
    {{! navbar }}
    <nav id="Navbar">
      {{! logo }}
      <div id="Navbar-logo">
        <img
          src="../Static/Logo/logo.jfif"
          alt="Not found"
          id="Navbar-logo-image"
        />
      </div>
      {{! items }}
      <div id="Conatiner-for-items">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/newanime">New Anime</a></li>
        </ul>
      </div>
{{! button }}
      <button class="Button-for-singin" ><a href="/singin">Sing in</a></button>

    </nav>
    {{! section for About }}
   <h1>About us</h1>
    <section id="about">
        
      <div id="Main-box">
        <h1>Mr.V</h1>
        <img src="../Static/Img/kakshi.jfif" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          voluptates, nihil numquam, dolore repellat, impedit eaque consectetur
          atque hic minus ea voluptas molestias dicta ex nulla iure
          reprehenderit tempore libero natus. Atque sunt beatae aperiam? Sint,
          quas cumque. Delectus, velit? Nesciunt minima explicabo ipsam nisi.
          Veniam placeat impedit nihil fuga!</p>
      </div>
    </section>
    
    {{!-- footer --}}
   <footer id="footer">
    <h1>All rigths are reserved by Mr.v &copy</h1>
    <h2>Follow us on!!</h2>
    <div id="Logos-for-social media" >
      <img src="../Static/Logo/facebook.png" alt="">
      <img src="../Static/Logo/github.png" alt="">
      <img src="../Static/Logo/instagram.png" alt="">
    </div>
   </footer>
  </body>
</html>