<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime.com</title>
    {{! CSS }}
    <link rel="stylesheet" href="../Static/Css/style.css" />
    <link rel="stylesheet" href="../Static/Css/class/class for index.hbs.css" />
  </head>
  <body>
    {{! navbar }}
    <nav id="Navbar">
      {{! logo }}
      <div id="Navbar-logo">
        <img
          src="../Static/Logo/logo.jfif"
          alt="Not found"
          id="Navbar-logo-image"
        />
      </div>
      {{! items }}
      <div id="Conatiner-for-items">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/newanime">New Anime</a></li>
        </ul>
      </div>
      {{! button }}
      <button class="Button-for-singin" ><a href="/singin">Sing in</a></button>

    </nav>

    {{! Section-for-image }}
    <section id="Section-for-image">
      <img src="../Static/Img/anime bg.webp" alt="" />
    </section>

    {{! section for anime }}
    <section id="Section-for-anime">
      <h1 class="H1-primary">Famouse anime</h1>
      <div class="Container">
        <div class="Boxes">
          <img src="../Static/Img/naruto.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/one piece.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/bleach.jfif" alt="" />
        </div>
      </div>
      <h1>Tranding anime</h1>
      <div class="Container">
        <div class="Boxes">
          <img src="../Static/Img/jjk.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/chainsaw man.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/tokyo revengers.jfif" alt="" />
        </div>
      </div>
      <h1>Anime for Children</h1>
      <div class="Container">
        <div class="Boxes">
          <img src="../Static/Img/spyXfamily.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/babysitter.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/beelzebub.jfif" alt="" />
        </div>
      </div>

      <h1>Anime for sport</h1>
      <div class="Container">
        <div class="Boxes">
          <img src="../Static/Img/blue lock.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/Haikyu!.jfif" alt="" />
        </div>
        <div class="Boxes">
          <img src="../Static/Img/free.jfif" alt="" />
        </div>
      </div>
    </section>

    {{!-- footer --}}
   <footer id="footer">
    <h1>All rigths are reserved by Mr.v &copy</h1>
    <h2>Follow us on!!</h2>
    <div id="Logos-for-social media" >
      <img src="../Static/Logo/facebook.png" alt="">
      <img src="../Static/Logo/github.png" alt="">
      <img src="../Static/Logo/instagram.png" alt="">
    </div>
   </footer>
    {{! js }}
    <script src="../Static/Js/script.js"></script>
  </body>
</html>

{{! for help use map.txt }}