<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New anime</title>
    <link rel="stylesheet" href="../Static/Css/new anime.css">
    <link rel="stylesheet" href="../Static/Css/class/class for new anime.css">
</head>
<body>
    {{! navbar }}
    <nav id="Navbar">
      {{! logo }}
      <div id="Navbar-logo">
        <img
          src="../Static/Logo/logo.jfif"
          alt="Not found"
          id="Navbar-logo-image"
        />
      </div>
      {{! items }}
      <div id="Conatiner-for-items">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/newanime">New Anime</a></li>
        </ul>
      </div>
      {{! button }}
      <button class="Button-for-singin" ><a href="/singin">Sing in</a></button>

    </nav>


    {{!-- section for new anime --}}
    <section id="New-anime">
      <h1>New Animes</h1>
      <div id="Box">
        <img src="../Static/Img/n a.jfif" alt="">
        <img src="../Static/Img/n a1.jfif" alt="">
        <img src="../Static/Img/n a3.jfif" alt="">
      </div>
    </section>
    
    {{!-- footer --}}
   <footer id="footer">
    <h1>All rigths are reserved by Mr.v &copy</h1>
    <h2>Follow us on!!</h2>
    <div id="Logos-for-social media" >
      <img src="../Static/Logo/facebook.png" alt="">
      <img src="../Static/Logo/github.png" alt="">
      <img src="../Static/Logo/instagram.png" alt="">
    </div>
   </footer>
</body>
</html>