<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing in</title>
    <link rel="stylesheet" href="../Static/Css/singin.css">
    <link rel="stylesheet" href="../Static/Css/class/class for singin..css">
</head>
<body>
    {{! navbar }}
    <nav id="Navbar">
      {{! logo }}
      <div id="Navbar-logo">
        <img
          src="../Static/Logo/logo.jfif"
          alt="Not found"
          id="Navbar-logo-image"
        />
      </div>
      {{! items }}
      <div id="Conatiner-for-items">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/newanime">New Anime</a></li>
        </ul>
      </div>
      {{! button }}
      <button class="Button-for-singin" ><a href="/singin">Sing in</a></button>

    </nav>
    {{!-- section for form --}}
        </nav>
<div class="fom">
        <h2>Contact us</h2><form action="/" method="post">
    <div id="container">
  <input type="text" name="name" id="name" placeholder="enter your name">
  <input type="text" name="age" id="age" placeholder="enter your age">
  <input type="text" name="gender" id="gender" placeholder="enter your gender">
  <input type="email" name="email" id="email" placeholder="enter your email">
  <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>
  <button class="btn" >sumite</button>
  </form>
    {{!-- footer --}}
   <footer id="footer">
    <h1>All rigths are reserved by Mr.v &copy</h1>
    <h2>Follow us on!!</h2>
    <div id="Logos-for-social media" >
      <img src="../Static/Logo/facebook.png" alt="">
      <img src="../Static/Logo/github.png" alt="">
      <img src="../Static/Logo/instagram.png" alt="">
    </div>
   </footer>
</body>
</html>