/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
}
html{
    background-color: #d4e0e0;
}
/* Navbar */
#Navbar{
    display: flex;
    height: 125px;
    background-image: linear-gradient(to bottom right, rgb(223, 147, 241) ,rgb(84, 74, 236));
    align-items: center;
    color: black;
}

/* logo */
#Navbar-logo{
    height: 100px;
    width: 100px;
}

#Navbar-logo-image{
    height: 100px;
    width: 100px;
    margin: 3px 10px;
}
/* items */
#Conatiner-for-items{
    display: flex;
    position: relative;
    left: 325px;
}
ul{
    display: flex;
}
li{
    display: flex;
    list-style: none;
}
#Home-logo{
    height: 35px;
}
a{
    display: flex;
    text-decoration: none;
    margin: 3px 15px;
}
a:hover{
    border: 2px solid black;
}
/* button */
/* is in class for index.hbs.css */


/* Section-for-image */
#Section-for-image{
    display: flex;
    margin: 15px 2px;
}

#Section-for-image img{
    width: 95vw;
}
/* Section-for-anime */
#Section-for-anime{
    display: flex;
    border: 2px solid red;
    background-color: black;
    align-items: center;

    flex-direction: column;
}
.Container{
    display: flex;
    flex-direction: row;
    width: 95vw;
}
/* boxes */
.Boxes{
    display: flex;
    background-color: white;
    height: 330px;
    width: 330px;
    margin: 3px 60px;
}
.Boxes img{
    height: 330px;
    width: 330px;
}


/* footer */
#footer{
    display: flex;
    border: 2px solid black;
    align-items: center;
    flex-direction: column;
}

#Logos-for-social media{
    display: flex;
    flex-direction: row;
}

#footer img{
    height: 100px;
}

 /* for help use map.txt  */